@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Archivo', sans-serif;
    background-color: #fdf7f2;
    overflow-x: hidden;
}

/* --------------------------- BARRA MENU ---------------------------  */

.navbar {
    background-color: #FDF7F2 !important;
    -webkit-box-shadow: 0px 3px 22px -6px rgba(69, 68, 69, 0.69);
    -moz-box-shadow: 0px 3px 22px -6px rgba(69, 68, 69, 0.69);
    box-shadow: 0px 3px 22px -6px rgba(69, 68, 69, 0.69);
}

.navbar_menu {
    margin-left: 4vw;
}

.navbar-nav-button {
    margin-right: 10vw;
    font-weight: 600;
    margin-left: 15vw;
    border-bottom: #FDF7F2 solid 2px;
}

.nav_button {
    border-bottom: #FDF7F2 solid 2px;
}

.nav_button:hover {
    border-bottom: #FF914D solid 2px;

}

.fonte_menu {
    font-family: 'Archivo', sans-serif;
}

/* --------------------------------------------------------------  */



/* --------------------------- CARROSSEL ---------------------------  */

.fonte_texto_carrossel {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    color: #FF914D;
    position: absolute;
    margin-top: -200px;
    z-index: 2;
    letter-spacing: 0.25em;
    margin-left: -4vw;

}

.fonte_texto_carrossel_negrito {
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    font-size: 4em;
    color: #FDF7F2;
    position: absolute;
    margin-top: -160px;
    z-index: 2;
    margin-left: -4vw;

}

.fonte_texto_carrossel_negrito span {
    font-weight: 800;
}

.fonte_texto_carrossel_negrito_extra {
    font-weight: 800;
    color: #FDF7F2;
    position: absolute;
    margin-top: -30px;
    z-index: 2;
}

.carrossel_fundo_preto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 1));
    position: absolute;
    z-index: 1;
    width: 100vw;
    max-width: 100%;
    height: 49vw;
}

.img_carrossel_um {
    object-fit: cover;
    object-position: 0% 60%;
    height: 49vw;
}

.img_carrossel_dois {
    object-fit: cover;
    object-position: 0% 50%;
    height: 49vw;
}

.img_carrossel_tres {
    object-fit: cover;
    object-position: 0% 30%;
    height: 49vw;
}

.img_carrossel_quatro {
    object-fit: cover;
    object-position: 0% 55%;
    height: 49vw;
}

/* ----------------------------------------------------------------------  */



/* --------------------------- O QUE FAZEMOS ---------------------------  */
.marca_texto_laranja {
    color: #FF914D;
}

.titulo_primario_secao_oquefazemos {
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 0.25em;
    font-size: 1.23em;
}

.titulo_secao_oquefazemos {
    font-weight: lighter;
    /* color: red; */
    font-family: 'Archivo', sans-serif;
}

.titulo_dois_secao_oquefazemos {
    font-family: 'Archivo', sans-serif;
    letter-spacing: 0.25em;
    font-size: 1.23em;
    font-weight: bold;
}

.texto_secao_oquefazemos {
    font-family: 'Archivo', sans-serif;
    font-size: 1.7em;
}

/* ----------------------------------------------------------------------  */



/* === SEÇÃO PORQUE GETEC? === */


.fundo_porque_getec {
    font-family: 'Archivo', sans-serif;
    /* max-width: 100%; */
    /* width: 100vw; */
    height: auto;
    /* padding-left: 5vw;
    padding-right: 5vw; */
    padding-bottom: 10vh;
    background-image: url('../imgs/fundo_porquegetec.jpg');
    /* background-color: #333333; */

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    padding-top: 2vh;
    background-image: url('../imgs/fundo_porquegetec.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.porque_getec_subtitulo {
    text-align: right;
    color: white;
    color: #FFFFFF;
    position: relative;
}

.porque_getec_frase {
    text-align: right;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 0.9em;
    font-size: 3.5em;
}

.porque_getec_subtitulo p {
    font-size: 1.23em;
    letter-spacing: 0.25em;
    font-weight: 500;
}

.texto_laranja {
    color: #FF914D;
}

.linha_laranja {
    width: 82px;
    height: 0px;
    border: 3px solid #FF914D;
    /* margin-left: 80vw; */
}

.linha_preta {
    width: 82px;
    height: 0px;
    border: 3px solid #333333;
}




.linha_card {
    margin-left: 28px;
}

.icone_porquegetec {
    width: 80px;
    padding: 10px;
}

.titulo_card_porquegetec {
    font-weight: 800;
    font-size: 1.8em;
}

/* ================== */


/* _______________________________Soluções Digitais_________________________________ */



.titulo_primario {
    font-weight: bold;
    letter-spacing: 5px;
}

.titulo_secundario {
    font-weight: 800;
    font-size: 3.5em;
}

.linha_dinamica {
    width: 6%;
    border: 2px solid #333333;
}

.linha_cards {
    width: 25%;
    border: 2px solid #ff914d;
    margin: 0 auto;
    text-align: center;
}

.card {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fdf7f2;
}

.card-header {
    background-color: #fdf7f2;
}

.card-title {
    font-weight: bolder;
    font-size: 1.5em;
}

.bi {
    font-size: 2em;
    color: #333333;
}

.marca_texto_laranja {
    color: #ff914d;
}


/* ________________________________________________________________ */


/* _______________________________Softwares_________________________________ */

.secao_softwares {
    position: relative;
    background: none;
    /* background-image: url('../imgs/softwares.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding-top: 12vh !important;
}

.secao_softwares::before {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-image: linear-gradient(180deg,
     rgba(51,51,51,0.8044467787114846) 0%,
     rgba(51,51,51,0.9865196078431373) 100%),
      url('../imgs/softwares.jpg');
    /* background-image: url('../imgs/softwares.jpg'); */
    /* filter: brightness(0.5); */
    z-index: -1; /* coloca o pseudo-elemento atrás do conteúdo da div */
}

.titulo_primario_branco {
    color: #fdf7f2;
}

.linha_dinamica_laranja {
    border: 2px solid #ff914d;
}

.softwares_img {
    height: 15vh;
}

.softwares_logo_img {
    max-width: 100%;
    max-height: 100%;
}

.paragrafo_softwares {
    height: 15vh;
    width: 35vw;
    color: #fdf7f2;
    font-weight: lighter;
    font-size: 1.3em;
}

.paragrafo_softwares p {
    padding-left: 5%;
}
.linha_vertical{
    height: 15%;
    border: 2px solid #ff914d;
}

/* ________________________________________________________________ */


/* _______________________________Contato e Localização_________________________________ */
.icone_contato {
    padding-right: 5%;
    color: #FF914D;
}

.maps{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}

/* ________________________________________________________________ */


/* ====== NOSSOS SERVIÇOS ====== */

.servicos_subtitulo {
    font-family: 'Archivo', sans-serif;
    font-size: 1.23em;
    letter-spacing: 0.25em;
    font-weight: 700;
}

.servicos_titulo {
    font-family: 'Archivo', sans-serif;
    font-size: 1.23em;
    font-weight: 800;
    line-height: 1.1em;
    font-size: 3.5em;
}

.servicos_titulo span {
    color: #FF914D;
}

.card_servicos {
    border-left: solid 10px #FF914D;
    height: fit-content;
    width: fit-content;
}

.icone_servicos {
    background-color: #FF914D;
    width: 50px;
    height: 50px;
}

.icone_servicos i {
    font-size: 1.5em;
    color: #fdf7f2;
}

.titulo_servico {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2em;
    width: 250px;
    font-weight: 600;
}

.img_servico {
    width: 300px;
    height: 90px;
    border: none;
    border-radius: 0px 6px 0px 0px;
}

.objeto_3d {
    position: absolute;
    z-index: -1;
    margin-top: -95vh;
    /* margin-left: 75vw;  */
    margin-left: 40vw;
    width: 120vw;
    height: 120vh;

}

/* =========== */


.footer{
    background-color:#333333;
    color: #FDF7F2;
}

.footer_img{
    height: 5vh;
}

.logo_footer_img{
    max-width: 100%;
    max-height: 100%;
}