@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* _______________________________Soluções Digitais_________________________________ */


body{
    font-family: 'Archivo', sans-serif;
    background-color: #fdf7f2;

}

.titulo_primario{
    font-weight: bold;
    letter-spacing: 5px;
}
.titulo_secundario{
    font-weight: bolder;
    font-size: 3.5em;
}

.linha_dinamica{
    width: 6%;
    border: 2px solid #333333;
}

.linha_cards{
    width: 25%;
    border: 2px solid #ff914d;
    margin: 0 auto;
    text-align: center;
}

.card{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fdf7f2;
}

.card-header {
    background-color: #fdf7f2;
}

.card-title {
    font-weight: bolder;
    font-size: 1.5em;
}

.bi {
    font-size: 2em;
    color: #333333;
  }

.marca_texto_laranja{
    color: #ff914d;
}


/* ________________________________________________________________ */